.c-banner {
    padding-top: 100px;
    padding-right: 30px;
    padding-left: 30px;

    @include tab {
        position: relative;
        padding: 0;
    }

    .c-banner__iconmenu {
        display: none;
        cursor: pointer;

        @include tab {
            display: unset;
            position: fixed;
            top: 20px;
            left: 20px;
            z-index: 1000;
            zoom: 75%;
            border-radius: 50px;
            background-color: white;
        }

        @include sp {
            display: unset;
            position: fixed;
            top: 30px;
            left: 30px;
            z-index: 1000;
            zoom: 50%;
        }
    }

    .c-banner__imgtext {
        position: relative;
    }

    .c-banner__img {
        object-fit: cover;
        height: 480px;
        border-radius: 63px;

        @include tab {
            object-fit: cover;
            height: 480px;
            border-radius: 20px;
            margin-top: 30px;
        }

        @include sp {
            margin-top: 0;

            width: 100%;
            height: 100%;
            border-radius: 29px;
        }
    }

    .c-banner__content {
        position: absolute;
        top: 100px;
        left: 200px;

        @include tab {
            left: 10%;
            top: 28%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @include sp {
            left: 0;
            right: 0;
            top: 117px;
            transform: translateX(1px);
        }
    }

    .c-banner__heading {
        margin-left: 22px;
        margin-bottom: 14px;

        @include tab {
            margin-left: 0;
        }

        @include tab {
            margin-left: 0;
        }
    }

    .c-banner__linebreak {
        background-color: #000;
        width: 60px;
        height: 2px;
        border: none;
        margin-left: 99px;

        @include tab {
            margin: 0 auto;
        }

        @include sp {
            margin: 7px auto 6px;
            width: 42px;
            height: 1px;
            transform: translateX(-1px);
        }
    }

    .c-banner__product--en {
        font-size: 1.6rem;
        line-height: 2.5;
        margin-top: 10px;
        margin-left: 64px;
        letter-spacing: 1.5px;

        @include tab {
            margin-left: 0;
            font-size: 1.5rem;
            margin-top: 1px;
        }
    }
}

.c-banner__slogan {
    font-size: 1.6rem;
    margin-top: 20px;
    margin-left: -27px;
    letter-spacing: 1.6px;

    @include tab {
        margin-left: 0;
        font-size: 1.5rem;
    }

    @include sp {
        margin-top: 11px;
        letter-spacing: 0.1px;
        width: 80%;
        text-align: center;
    }
}

.c-banner__slogan2 {
    font-size: 3rem;
    margin-left: 32px;
    margin-top: 2px;

    @include tab {
        margin-left: 0;
        font-size: 2rem;
        letter-spacing: 0.3px;
    }
}

.c-banner__label {
    font-size: 2.4rem;
    padding: 10px 42px 9px 40px;
    background: #25a989;
    border-radius: 28px;
    display: inline-block;
    margin-top: 20px;
    margin-left: -20px;
    letter-spacing: 5.9px;
    transform: translateY(-1px);
    font-feature-settings: "palt";

    .c-banner__label--pp {
        margin-left: -9px;
    }

    &:hover {
        @include hover-effect;
    }

    @include tab {
        margin-left: 0;
        font-size: 1.6rem;
    }

    @include sp {
        padding: 5px 0 6px;
        text-align: center;
        margin-top: 24px;
        letter-spacing: 4.5px;
        width: 200px;
        transform: translateX(-1px);
        border-radius: 18px;
    }
}

.c-banner__leaftop {
    top: 0;
    left: 35.8%;
    z-index: 10;
    pointer-events: none;

    @include tab {
        zoom: 75%;
    }

    @include sp {
        left: 25.2%;
    }
}

.c-banner__leafright {
    top: 39.9%;
    right: 0;
    z-index: 10;
    pointer-events: none;

    @include tab {
        zoom: 75%;
    }

    @include sp {
        top: 56%;
    }
}

.c-banner__drops {
    width: 100%;
    height: 480px;
    position: fixed;
    top: 130px;
    pointer-events: none;
    left: 0;
    right: 0;
    max-width: 1920px;

    @include tab {
        top: 60px;
    }
}

.c-banner__drop1 {
    left: 16.3%;
    top: 66.6%;

    @include tab {
        zoom: 75%;
    }
}

.c-banner__drop2 {
    left: 29.2%;
    top: 89.6%;

    @include tab {
        zoom: 75%;
    }
}

.c-banner__drop3 {
    left: 70.8%;
    top: 87.1%;

    @include tab {
        zoom: 75%;
    }
}

.c-banner__drop4 {
    top: -3.9%;
    right: 13.5%;

    @include tab {
        zoom: 75%;
    }
}

.c-banner__drop5 {
    left: 57.2%;
    top: -14.2%;

    @include tab {
        zoom: 75%;
    }
}

.c-banner__drop6 {
    left: 28.5%;
    top: -8.9%;

    @include tab {
        zoom: 75%;
    }
}
