.c-daily {
    padding-top: 80px;
    padding-bottom: 214px;

    @include tab {
        padding-top: 65px;
        padding-bottom: 65px;

        @include sp {
            padding-top: 36px;
        }
    }

    .c-daily__intro {
        font-size: 2rem;
        text-align: center;
        margin-top: -5px;
        letter-spacing: 2.2px;
        margin-left: -7px;

        @include tab {
            line-height: 2.5;
            letter-spacing: 1.3px;
            transform: translateX(2px);
        }

        @include sp {
            font-size: 1.2rem;
            line-height: 2.5;
            letter-spacing: 1.3px;
            transform: translateX(2px);
        }
    }

    .c-daily__menthaoil {
        font-size: 4.6rem;
        text-align: center;
        margin-top: -9px;
        letter-spacing: 9.2px;
        font-weight: 400;
        margin-left: -1px;

        @include tab {
            font-size: 3.5rem;
            letter-spacing: 3.9px;
            transform: translateY(1px);
        }

        @include sp {
            font-size: 2rem;
        }
    }

    .c-daily__uses {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 50px;

        @include tab {
            row-gap: 30px;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(8, 1fr);
            padding-top: 75px;
            overflow: hidden;
        }
    }

    .c-daily__use {
        position: relative;
    }

    .c-daily__label {
        position: absolute;

        @include tab {
            padding-bottom: 0;
            border-color: #b8b8b8;
        }

        @include sp {
            font-size: 1.3rem;
        }
    }

    .c-daily__dottedline {
        border-top: 1px dotted #333;
    }

    .c-daily__use1 {
        top: -13px;
        left: 78px;

        @include tab {
            top: 0;
            left: 25.6%;
        }

        @include sp {
            left: 23.6%;
            top: -5.4%;
        }
    }

    .c-daily__label1 {
        top: 36px;
        left: 54px;

        @include tab {
            top: 23px;
            left: 54px;
            letter-spacing: 1.7px;
        }

        @include sp {
            top: 23px;
            left: 31px;
            letter-spacing: 1.7px;
        }
    }

    .c-daily__recommend1 {
        top: -53px;
        left: -50px;

        @include tab {
            top: -50px;
            left: -47px;
        }

        @include sp {
            top: -50px;
            left: -97px;
        }
    }

    .c-daily__use2 {
        left: -14.2%;
        top: 19.2%;

        @include tab {
            top: 0;
            left: 53.8%;
        }

        @include sp {
            top: -43%;
            left: 81.3%;
        }
    }

    .c-daily__label2 {
        top: 39px;
        left: 50px;

        @media only screen and (max-width: 1200px) {
            max-width: 150px;
            left: 53px;

            @include tab {
                letter-spacing: 1.9px;
                max-width: unset;
            }

            @include sp {
                left: -174px;
                top: 32px;
                letter-spacing: 1.9px;
                max-width: unset;
                padding: 0 12px 0 0;
            }
        }
    }

    .c-daily__use3 {
        top: 28px;
        left: -54px;

        @include tab {
            top: 0;
            left: 25.6%;
        }

        @include sp {
            top: -74.1%;
            left: 7.9%;
        }
    }

    .c-daily__label3 {
        top: 38px;
        left: 83px;
        width: 203px;
        padding: 1px 0 4px 16px;

        @media only screen and (max-width: 1200px) {
            max-width: 150px;
            left: 80px;

            @include tab {
                top: 49px;
                left: 80px;
                letter-spacing: 1.8px;
                padding-bottom: 0;
                max-width: unset;
                width: unset;
            }

            @include sp {
                top: 23px;
                left: 39px;
                letter-spacing: 1.8px;
                padding-bottom: 0;
                max-width: unset;
                padding: 1px 0 0 7px;
            }
        }
    }

    .c-daily__use4 {
        top: -13px;
        left: -8px;

        @include tab {
            top: 0;
            left: 53.8%;
        }

        @include sp {
            top: -94.6%;
            left: 66.9%;
        }
    }

    .c-daily__label4 {
        top: 57px;
        left: 41px;
        padding-left: 20px;
        padding-bottom: 4px;

        @include sp {
            top: 45px;
            left: -199px;
            letter-spacing: 1.7px;
            padding-bottom: 0;
            padding: 1px 8px 0 0;
        }
    }

    .c-daily__recommend4 {
        top: -53px;
        left: -56px;

        @include sp {
            top: -50px;
            left: -94px;
        }
    }

    .c-daily__use5 {
        top: 59px;
        left: 92px;

        @include tab {
            top: 0;
            left: 25.6%;
        }

        @include sp {
            top: -108.7%;
            left: 8%;
        }
    }

    .c-daily__label5 {
        top: 23px;
        left: 50px;

        @media only screen and (max-width: 1200px) {
            max-width: 130px;
            left: 55px;

            @include tab {
                top: 25px;
                left: 38px;
                letter-spacing: 1.8px;
                padding-bottom: 0;
                max-width: unset;
            }

            @include sp {
                top: 25px;
                left: 38px;
                letter-spacing: 1.8px;
                padding-bottom: 0;
                max-width: unset;
            }
        }
    }

    .c-daily__use6 {
        top: 109px;
        left: 42px;

        @include tab {
            top: 0;
            left: 53.8%;
        }

        @include sp {
            top: -102.3%;
            left: 57.4%;
        }
    }

    .c-daily__label6 {
        top: 53px;
        left: 101px;
        padding-left: 45px;

        @include sp {
            top: 14px;
            left: -91px;
            padding: 1px 28px 0 1px;
        }
    }

    .c-daily__recommend6 {
        top: -57px;
        left: 0;

        @include sp {
            top: -101px;
            left: -57px;
        }
    }

    .c-daily__use7 {
        top: 81px;
        left: 96px;

        @include tab {
            top: 0;
            left: 25.6%;
        }

        @include sp {
            top: -146.7%;
            left: 10.4%;
        }
    }

    .c-daily__label7 {
        top: 20px;
        left: -98px;
        padding-left: 1px;
        padding-bottom: 4px;
        padding-right: 10px;

        @include tab {
            top: 8px;
            left: 123px;
            padding-bottom: 1px;
        }

        @include sp {
            top: 8px;
            left: 59px;
            padding: 1px 0 0 10px;
        }
    }

    .c-daily__use8 {
        top: -6px;
        left: 38px;

        @media only screen and (max-width: 1200px) {
            max-width: 200px;

            @include tab {
                max-width: 160px;
                top: 0;
                left: 53.8%;
            }

            @include sp {
                top: -207.9%;
                left: 66.4%;
            }
        }
    }

    .c-daily__label8 {
        top: 21px;
        left: -126px;
        padding: 0 28px 4px 0;

        @include sp {
            top: 20px;
            left: -113px;
            padding-bottom: 0;
        }
    }
}
