//------------------------------------------------------------
// font
//------------------------------------------------------------
.u-text333 {
    color: #333;
}

.u-greentext {
    color: #176b6a;
}

.u-whitetext {
    color: #fff;
}

.u-spacing {
    letter-spacing: 1.4px;
}

//------------------------------------------------------------
// position
//------------------------------------------------------------
.u-fixed {
    position: fixed;
}

.u-absolute {
    position: absolute;
}

.is-aligned {
    padding: 0 0 5px 9px;
    letter-spacing: 1.5px;
    border-bottom: 1px dashed #333;

    @include sp {
        border-bottom: 1px dotted #333;
    }
}

.u-mt8 {
    margin-top: 8px;
}

//------------------------------------------------------------
// image
//------------------------------------------------------------
.u-originalscaled {
    object-fit: contain;
}

.u-w440 {
    width: 440px;
}

.u-scalehalf {
    @include sp {
        zoom: 50% !important;
    }
}

.u-scalequater {
    @include sp {
        zoom: 25%;
    }
}

.u-backgroundgreen {
    background-color: #1f4242 !important;
}

.u-backgroundwhite {
    background-color: #fff !important;
}

//============================================
// button
//============================================
.is-active {
    opacity: 0.7;
}

.is-showoverlay {
    display: flex !important;
}

//============================================
// animation
//============================================

@keyframes updown {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(30%);
    }
}

.u-updown {
    animation: 3s ease-in 0s infinite alternate updown;
}

@keyframes downup {
    0% {
        transform: translateY(30%);
    }

    100% {
        transform: translateY(0%);
    }
}

.u-downup {
    animation: 3s ease-in 0s infinite alternate downup;
}

@keyframes isshown {
    0% {
        transform: translateY(-150%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes ishidden {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-150%);
    }
}

@keyframes isnotindentedtop {
    0% {
        transform: translateY(-20%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes isnotindentedright {
    0% {
        transform: translateX(20%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes isindentedtop {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20%);
    }
}

@keyframes isindentedright {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(20%);
    }
}

.is-shown {
    animation: 1.7s ease-in-out 0s 1 forwards isshown;
}

.is-hidden {
    animation: 1s ease-in-out 0.3s 1 forwards ishidden;
}

.is-notindented--top {
    animation: 0.7s ease-in-out 0s 1 forwards isnotindentedtop;
}

.is-notindented--right {
    animation: 0.7s ease-in-out 0s 1 forwards isnotindentedright;
}

.is-indented--top {
    animation: 0.7s ease-in-out 0s 1 forwards isindentedtop;
}

.is-indented--right {
    animation: 0.7s ease-in-out 0s 1 forwards isindentedright;
}

//============================================
// functionality
//============================================

.u-disablescroll {
    @include tab {
        overflow: hidden;
    }
}

//============================================
// visibility
//============================================

.is-notvisible,
.is-tabandspnotvisible {
    transition: height 0.2s ease, width 0.2s ease;

    @include tab {
        height: 0;
        padding: 0;
    }
}

.is-notdisplayed {
    display: none;
}

.is-displayedmenumobile {
    @include tab {
        display: block;
    }
}

.is-sponly {
    display: none !important;
}

@include sp {
    .is-pconly {
        display: none !important;
    }

    .is-sponly {
        display: unset !important;
    }
}

.is-pcandtab {
    @include sp {
        display: none;
    }
}
