<footer id="footer" class="c-footer p-scroll">
  <div class="c-footer__container">
    <div class="c-footer__content l-container--1030px">
      <div class="c-footer__headingimg">
        <picture>
          <source media="(max-width: 767px)" srcset="./assets/img/footer/footer_background_mobile.jpg">
          <img class="c-footer__image u-scalehalf" src="./assets/img/footer/footer_background.jpg"
            alt="さわやかハッカ油で虫除け対策のイメージ写真">
        </picture>
      </div>
      <div class="c-footer__contact">
        <div class="c-footer__contactinfo">
          <h2 class="c-footer__contactinfocontent">商品に関するお問い合わせは</h2>
          <h2 class="c-footer__contactinfocontent">健栄製薬株式会社</h2>
          <p class="c-footer__contactinfocontent is-pcandtab">
            TEL |
            <span class="c-footer__phonenumber"><a href="tel:06-6231-5626" class="c-footer__call">06-6231-5626</a></span>　受付時間 |
            8:45〜17:30(土日祝日を除く)
          </p>
          <p class="c-footer__contactinfocontent is-sponly">
            TEL |｜
            <span class="c-footer__phonenumber"><a href="tel:06-6231-5626" class="c-footer__call">06-6231-5626</a></span>　受付時間
            |｜8:45〜17:30(土日祝日を除く)
          </p>
        </div>
        <div class="c-footer__logo">
          <a class="c-footer__logoblock" href="./">
            <picture>
              <source media="(max-width: 767px)" srcset="./assets/img/footer/footer_logo_mobile.png">
              <img class="c-footer__logoimg u-scalehalf" src="./assets/img/footer/footer_logo.png" alt="Mentha Oil">
            </picture>
          </a>
          <p class="c-footer__brand u-black333text">©KENEI Pharmaceutical</p>
        </div>
      </div>
    </div>
  </div>
</footer>